unit_test
.idea/
__pycache__/
client/client.log
producer.py
server.log
start_clients.py
test_directory/
tester.py
server/images
server/server/.txt
server/__pycache__/
server/database/server_base.db3
server/images/
server/server.log
server/server/__pycache__/
server/server/day.txt
server/server/first_image.jpeg
server/server/get_users.txt
server/server/output.json
server/server/output.txt
server/server/ramka.txt
server/server/server.log
server/server/server_base.db3
server/server/test.txt
server/server/test2.txt
server/server/test_image.jpeg
server/server/test_image.txt
server/server/text-test.txt
server/server/week-month.txt
